<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>


<main>
  <h1>Greetings, <%= user ? user.explorer?.name : "Future Space Explorer" %></h1>
  <% if (user?.explorer.avatar) { %>
    <div>
      <img 
        src="<%= user.explorer.avatar %>" 
        alt="<%= user.explorer.name %> avatar"
      >
    </div>
  <% } %>
</main>

<%- include('./partials/footer') %>
