<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main><h3>
  <% if (!explorer.starfleet?.name) { %>
    <a href="/starfleets/new">Create your own Starfleet</a>
  <% } %>
  <ul>
    <% starfleets.forEach(starfleet => { %>
      <li>
        Starfleet: <a href="/starfleet/<%= starfleet._id %> "><%= starfleet.name %></a><br>
          <% if (starfleet.logo) { %>
            Logo: <img src="<%= starfleet.logo %>">
          <% } %>
        Commander: <a href="/explorers/<%= starfleet.commander._id %>"><%= starfleet.commander.name%></a><br>
        <% if (starfleet.explorations.length) { %>
          Exploration<%= starfleet.explorations.length === 1 ? '' : 's'%>:
          <% starfleet.explorations.forEach(exploration => { %>
            <ol>
              - <a href="/explore/<%= exploration._id %>">
                <%= exploration.name %>
              </a>
            </ol>
          <% }) %>
        <% } else { %>
        no explorations done yet 
        <% } %> 
        <%= starfleet.crew %> 
      </li>
    <% }) %>
  </ul>
</h3>
</main>

<%- include('../partials/footer') %>