<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <% if (!explorer.starfleet?.name) { %>
    <a href="/starfleets/new">Create your own Starfleet</a>
  <% } %>
  <ul>
    <% starfleets.forEach(starfleet => { %>
      <li>
        Starfleet: <%= starfleet.name %><br>
          <% if (starfleet.logo) { %>
            Logo: <img src="<%= starfleet.logo %>">
          <% } %>
        Commander: <%= starfleet.commander.name %><br>
        <% if (starfleet.explorations.length) { %>
          Exploration<%= starfleet.explorations.length === 1 ? '' : 's'%>:
          <% starfleet.explorations.forEach(exploration => { %>
            <li>
              <a href="/explore/<%= exploration._id %>">
                <%= exploration.name %>
              </a>
            </li>
          <% }) %>
        <% } else { %>
        no explorations done yet 
        <% } %> 
        <%= starfleet.crew %> 
      </li>
    <% }) %>
  </ul>
</main>

<%- include('../partials/footer') %>